<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href='https://fonts.googleapis.com/css?family=Alata' rel='stylesheet'>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"content="IE=edge">
        <meta name="viewport"  content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <!-- CSS only --> 
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
       <!-- JavaScript Bundle with Popper -->
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>
<body>


        
<div class="w3-responsive">
    <table class="w3-table-all">
    <tr>
      <th>Full Name</th>
      <th>Phone Number</th>
      <th>Email Address</th>
      <th>Payment Mode</th>
      <th>Payment Status</th>
      <th>Year of Study</th>
      <th>Roll Number</th>
    </tr>
    <% docs.forEach(function(applicant) { %>
    <tr>
      <td><%= applicant.fullName %></td>
      <td><%= applicant.phoneNumber %></td>
      <td><%= applicant.email %></td>
      <td><%= applicant.paymentMode %></td>
      <td><%= applicant.paymentStatus %></td>
      <td><%= applicant.yearofStudy %></td>
      <td><%= applicant.rollNumber %></td>
    </tr>
    <%}) %>
    </table>
    </div>
</body>
</html>