<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href='https://fonts.googleapis.com/css?family=Alata' rel='stylesheet'>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"content="IE=edge">
        <meta name="viewport"  content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <!-- CSS only --> 
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
       <!-- JavaScript Bundle with Popper -->
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>
<style>
    .container{
        margin-top:50px;
    }
    .button {
        background-image: linear-gradient(to right, #161190, #0049b9, #0077d7, #00a3ed, #59cefe);
border: none;
color: white;
padding: 13px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
width:200px;
font-size: 14px;
font-weight: bolder;
margin: 4px 2px;
cursor: pointer;
}
body{
font-family:"Alata";
}

.form-control:focus {
border-color:  rgba(19, 155, 143, 0.6);
box-shadow: inset 0 1px 1px rgba(248, 248, 248, 0.075), 0 0 8px rgba(19, 155, 143, 0.6);
}

.invoice-box {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
}

.invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
}

.invoice-box table td {
    padding: 5px;
    vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
    text-align: right;
}

.invoice-box table tr.top table td {
    padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
    font-size: 45px;
    line-height: 45px;
    color: #333;
}

.invoice-box table tr.information table td {
    padding-bottom: 40px;
}

.invoice-box table tr.heading td {
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.invoice-box table tr.details td {
    padding-bottom: 20px;
}

.invoice-box table tr.item td{
    border-bottom: 1px solid #eee;
}

.invoice-box table tr.item.last td {
    border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
    border-top: 2px solid #eee;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .invoice-box table tr.top table td {
        width: 100%;
        display: block;
        text-align: center;
    }
    
    .invoice-box table tr.information table td {
        width: 100%;
        display: block;
        text-align: center;
    }
}

/** RTL **/
.rtl {
    direction: rtl;
    font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
}

.rtl table {
    text-align: right;
}

.rtl table tr td:nth-child(2) {
    text-align: left;
}
</style>
<body>
    <br>
    <br>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <img src="/assets/images/work.png" style="width:100%; max-width:300px;">
                            </td>
                            
                            <td>
                                Invoice #: 123<br>
                                Created: January 1, 2015<br>
                                Due: February 1, 2015
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                SCTR'S Pune Institute of Computer Technology Near, <br>
                                Trimurti Chowk,<br>
                                 Bharati Vidyapeeth Campus,<br>
                                  Dhankawadi, Pune, Maharashtra 411043
                            </td>
                            
                            <td>
                                Pict Robotics.<br>
                                pictrobotics.com<br>
                                robocon@pict.edu
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
         
            <tr class="heading">
                <td>
                    Info
                </td>
                
                <td>
                    Details
                </td>
            </tr>
            
            <tr class="item">
                <td>
                    Name
                </td>
                
                <td>
                    <%=docs.fullName%>
                </td>
            </tr>
            
            <tr class="item">
                <td>
                   Phone Number
                </td>
                
                <td>
                    <%=docs.phoneNumber%>
                </td>
            </tr>
            
            <tr class="item last">
                <td>
                   Email Address
                </td>
                
                <td>
                    <%=docs.email%>
                </td>
            </tr>
            <tr class="item last">
                <td>
                   OrderID
                </td>
                
                <td>
                    <%=docs.orderID%>
                </td>
            </tr><tr class="item last">
                <td>
                   Roll Number
                </td>
                
                <td>
                    <%=docs.rollNumber%>
                </td>
            </tr>
            <tr class="item last">
                <td>
                   Year Of Study
                </td>
                
                <td>
                    <%=docs.yearofStudy%>
                </td>
            </tr>
                 
            <tr class="heading">
                <td>
                    Amount Paid
                </td>
                
                <td>
                    ₹ 1500
                </td>
            </tr>



        </table>
      </div>
      <br>
      <br>

</body>
</html>
